body {
  margin: 0;
  overflow: hidden;
  background: black;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
